<!doctype html>
<html ng-app = "myApp">
    <head>

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/vendor/magicsuggest-min.css">
        <link rel="stylesheet" href="/styles/vendor/jquery.dataTables.css">

        <script src="/js/vendor/jquery.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/angular.min.js"></script>
        <script src="/js/vendor/angular-cookies.min.js"></script>

        <script src="/js/app/commons.js"></script>
        <script src="/js/app/controllers/lesson-controller.js"></script>
        <script src="/js/vendor/jquery.dataTables.js"></script>
        <script src="/js/vendor/magicsuggest-min.js"></script>
        <script src="/js/soundmanager2-nodebug-jsmin.js"></script>
        <script src="/js/mp3-player-button.js"></script>
    </head>

    <body>
        <% include ../partials/nav-bar.html %>

        <div ng-controller="LessonCtrl" ng-init="init(<%= id %>)">
            <div class="container bs-docs-container">
                <div class="breadcrumb">
                    <div class="row">
                        <div class="col-md-3">
                            <img ng-src="{{ course.picture_url}}" height="200" width="200">
                        </div>
                        <div class="col-md-9">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr><td>ID</td><td ng-bind="course.id"></td></tr>
                                    <tr><td>Name</td><td ng-bind="course.name"></td></tr>
                                    <tr><td>Type</td><td ng-bind="course.content_type"></td></tr>
                                    <tr><td>Description</td><td ng-bind="course.description"></td></tr>
                                    <tr><td>Item numbers</td><td ng-bind="course.lessons.length"></td></tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="button" class="btn btn-default" ng-click="loadForNew()" data-toggle="modal" data-target="#editor">
                                                <span class="glyphicon glyphicon-plus"> Add Lesson</span>
                                            </button>
                                            <a class="btn btn-default" role="button" ng-href="/courses/{{course.id}}/edit">
                                                <span class="glyphicon glyphicon-pencil"> Edit Course</span>
                                            </a>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="" id="savedNotifyMsg">               
                </div>
                <table id="lessonsDatatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Phonetics</th>
                            <th>Sound</th>
                            <th>Difficulty level</th>
                            <th>Created at</th>
                            <th>Command</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="lesson in course.lessons" valign="middle"
                            jquery-datatable="lessonsDatatable" un-sort-cols="1,3,4,5,6,8" sorted-col=7 sorted-type="desc">
                            <td ng-bind="lesson.id"></td>

                            <td><image ng-src="{{lesson.picture_url}}" height="75" width="100" /></td>
                            <td ng-bind="lesson.name"></td>
                            <td ng-bind="lesson.type"></td>
                            <td>
                                <div class="ms-sel-ctn">
                                    <div class="ms-sel-item" ng-repeat="phonetic in lesson.phonetics" ng-bind="phonetic.text"></div>
                                </div>
                            </td>
                            <td><button type="button" class="btn btn-default" ng-click="playAudio(lesson.audio_url)"><span class="glyphicon glyphicon-volume-up"></span></button></td>
                            <td align="center" ng-bind="lesson.difficulty_level"></td>
                            <td ng-bind="lesson.created_at"></td>
                            <td><button type="button" class="btn btn-default" ng-click="loadForEdit(lesson)" data-toggle="modal" data-target="#editor">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </td>
                            <td ng-bind="lesson.status_name"></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Modal -->
                <div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Apo editor</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group" id="frmLessonName">
                                        <label for="name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtLessonName" 
                                                   placeholder="Name of lesson" ng-model="lessonName" ng-keyup="handleTypingName()" >
                                        </div>
                                    </div>
                                    <div class="form-group" id="frmLessonType">
                                        <label for="type" class="col-sm-2 control-label">Type</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="lessonType" ng-options="t.name for t in types"></select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="frmLessonLanguage">
                                        <label for="type" class="col-sm-2 control-label">Language</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="lessonLanguage" ng-options="l.name for l in languages"></select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="frmDifficultyLevel">
                                        <label for="difficultyLevel" class="col-sm-2 control-label">Difficulty level</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0" class="form-control" id="txtLessonDifficultyLevel" ng-model="lessonDifficultyLevel">
                                        </div>
                                    </div>
                                    <div class="form-group" id="frmLessonSoundUrl">
                                        <label for="soundUrl" class="col-sm-2 control-label">Sound url</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="txtLessonSoundUrl" ng-model="lessonSoundUrl" ng-change="enablePlaySoundInEditor()">
                                                <span class="input-group-btn form-control-feedback">
                                                    <button id="btnPlaySoundForEditor" class="btn btn-default  form-control-feedback" type="button" ng-click="playAudio(lessonSoundUrl)">
                                                        <span id="iconPlaySoundForEditor" class="glyphicon glyphicon-volume-up"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" id="frmLessonPictureUrl">
                                        <label for="pictureUrl" class="col-sm-2 control-label">Picture url</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="txtLessonPictureUrl" ng-model="lessonPictureUrl" ng-change="enableShowPictureForEditor()">
                                                <span class="input-group-btn form-control-feedback">
                                                    <button class="btn btn-default  form-control-feedback" type="button" data-toggle="modal" data-target=".bs-example-modal-sm">Upload</button>
                                                </span>
                                                <span class="input-group-btn form-control-feedback">
                                                    <button id="btnShowPictureForEditor" class="btn btn-default  form-control-feedback">
                                                        <span id="iconShowPictureForEditor" class="glyphicon glyphicon-eye-open"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseContent">
                                                    Content
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseContent" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="form-group" id="frmLessonContentText">
                                                    <label for="contentText" class="col-sm-2 control-label">Text</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="3" ng-model="lessonContent['text']"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="frmLessonContentExamples">
                                                    <label for="examples" class="col-sm-2 control-label">Examples</label>
                                                    <div class="col-sm-10" id="grpExamplesInput">
                                                        <div class="input-group" ng-repeat="e in lessonContent['examples']">
                                                            <input type="text" class="form-control" ng-model="e['text']" ng-keyup="progressForExamples(e)" >
                                                            <span class="input-group-btn form-control-feedback">
                                                                <button class="btn btn-default  form-control-feedback" type="button">Audio</button>
                                                                <button class="btn btn-default" type="button" ng-click="removeExample(e)"><span class="glyphicon glyphicon-remove"></span></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" id="frmLessonContentPhonetics">
                                                    <label for="examples" class="col-sm-2 control-label">Phonetics</label>
                                                    <div class="col-sm-10" id="grpPhoneticsInput">
                                                        <div class="input-group" ng-repeat="p in lessonContent['phonetics']">
                                                            <input type="text" class="form-control" ng-model="p['text']" ng-keyup="progressForPhonetics(p)" >
                                                            <span class="input-group-btn form-control-feedback">
                                                                <button class="btn btn-default" type="button" ng-click="removePhonetic(p)"><span class="glyphicon glyphicon-remove"></span></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="btnEditorSaveChange" 
                                        data-loading-text="Validating..." 
                                        data-complete-text="Saving..."
                                        ng-click="saveChange()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade bs-example-modal-sm" id="pictureUploader" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <form class="form-horizontal" role="form">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Upload picture</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="picture" class="col-sm-2 control-label">Picture</label>
                                        <div class="col-sm-10">
                                            <input type="file" id= "files">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" id="uploadingBtn" class="btn btn-primary" data-loading-text="Uploading..." ng-click="upload()">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>