<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Courses</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/vendor/magicsuggest-min.css">
    <link rel="stylesheet" href="/styles/vendor/jquery.dataTables.css">

    <script src="/js/vendor/require.js"></script>
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/angular-cookie.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.js"></script>
    <script src="/js/vendor/magicsuggest-min.js"></script>

    <script src="/js/app/commons.js"></script>
    <script src="/js/app/controllers/course-ctrl.js"></script>
</head>
<body>
<% include ../partials/nav-bar.html %>

<div ng-controller="CourseCtrl" ng-init="init()">
    <div class="container bs-docs-container">
        <div class="breadcrumb" ng-repeat="course in courses">
            <div class="row">
                <div class="col-md-3">
                    <a ng-href="/courses/{{course.id}}"><img ng-src="{{course.picture_url}}" height="200" width="200"></a>
                </div>
                <div class="col-md-9">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td width="30%">ID</td>
                            <td ng-bind="course.id"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td ng-bind="course.name"></td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td ng-bind="course.content_type"></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td ng-bind="course.description"></td>
                        </tr>
                        <tr>
                            <td>Item numbers</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
