<div ng-show="courses.length>0">
    <div class="row action-bar" ng-show="show.actionBar">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="btn-group">
                <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Actions <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                    <a data-toggle="modal" data-target="#changeCoursesStatus">Change status for selected courses</a>
                    </li>
                    <!--<li>-->
                    <!--<a>Enable select course</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 box-container">
            <table id="coursesDatatable" class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th ng-show="show.author">Author</th>
                    <th ng-show="show.order">Order</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="course in courses" valign="middle"
                    jquery-datatable="coursesDatatable" un-sort-cols="1"
                    sorted-type="desc">
                    <td>
                        <div ng-bind="course.id"></div>
                        <div><input type="checkbox" ng-model="course.checked"></div>
                    </td>
                    <td>
                        <image ng-src="{{course.picture_url}}" height="75" width="100"/>
                    </td>
                    <td><a ng-bind="course.name" ng-href="/admin/courses/{{course.id}}"></a></td>
                    <td ng-bind="course.content_type"></td>
                    <td ng-bind="course.description"></td>
                    <td ng-bind="course.status_name" ng-style="getStatusStyle(course.status)"></td>
                    <td ng-show="show.author" ng-bind="course.user.name"></td>
                    <td ng-show="show.order" ng-bind="course.order_number"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="changeCoursesStatus" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <form class="form-horizontal" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Change status for these courses</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="picture" class="col-sm-2 control-label">To status</label>

                            <div class="col-sm-10">
                                <select id="slCourse" class="form-control" ng-model="slStatus"
                                        ng-options="c.text for c in status"></select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="savingBtn" class="btn btn-primary" data-loading-text="Saving..."
                            ng-click="changeSelectedCoursesStatus()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
