
<div class="row" ng-show="lessons.length>0">
    <div class="col-md-1"></div>
    <div class="col-md-10 box-container">
        <div class="box">
            <div class="box-body">
                <div class="clearfix">
                    <table id="lessonsDatatable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Phonetics</th>
                            <th>Sound</th>
<!--                             <th>Difficulty level</th> -->
                            <th>Created at</th>
                            <th>Command</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="lesson in lessons" valign="middle"
                            jquery-datatable="lessonsDatatable" un-sort-cols="1,3,4,5,7" sorted-col=6
                            sorted-type="desc">
                            <td ng-bind="lesson.id"></td>

                            <td>
                                <image ng-src="{{lesson.picture_url}}" height="75" width="100"/>
                            </td>
                            <td ng-bind="lesson.name"></td>
                            <td ng-bind="lesson.type"></td>
                            <td>
                                <div class="ms-sel-ctn">
                                    <div class="ms-sel-item" ng-repeat="phonetic in lesson.phonetics"
                                         ng-bind="phonetic.text"></div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default"
                                        ng-click="playAudio(lesson.audio_url)"><span
                                        class="glyphicon glyphicon-volume-up"></span></button>

                            </td>
<!--                             <td align="center" ng-bind="lesson.difficulty_level"></td> -->
                            <td ng-bind="lesson.created_at"></td>
                            <td>
                                <a ng-href="/lessons/{{lesson.id}}/edit" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a ng-class="{'disabled': lesson.status === 10}"
                                   ng-click="deleteLesson(lesson.id)" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                            <td ng-bind="lesson.status_name" ng-style="getStatusStyle(lesson.status)"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>