<div>
    <div class="col-md-2"></div>
    <div class="col-md-8 box-container">
        <div class="box border ">
            <div class="box-title">
                <h4>COURSE EDITOR</h4>
            </div>
            <div class="box-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group" ng-show="validated.course.picture_url">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <img ng-src="{{course.picture_url}}" height="100"/>
                        </div>
                    </div>

                    <div class="form-group" ng-show="course.parent">
                        <label for="parent" class="col-sm-2 control-label">Parent</label>

                        <div class="col-sm-10">
                            <p class="form-control-static"><a ng-href="/courses/{{parent.id}}" ng-bind="course.parent.id"></a>
                            </p>
                        </div>
                    </div>

                    <div class="form-group" id="frmCourseName"
                         ng-class="{'has-error':invalid.course.name, 'has-success': validated.course.name}">
                        <label for="name" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtCourseName" ng-model="course.name"
                                   ng-change="changeName()" ng-blur="validateName()">
                        </div>
                    </div>

                    <div class="form-group" id="frmCourseType" >
                        <label for="type" class="col-sm-2 control-label">Content type</label>

                        <div class="col-sm-10">
                            <select id="slCourseType" class="form-control" ng-model="course.slContentType"
                                    ng-options="t.name for t in contentTypes" ng-change="changeContentType()" ng-disabled="disabled.course.contentType" ></select>
                        </div>
                    </div>

                    <div class="form-group" id="frmCoursePictureUrl"
                         ng-class="{'has-error':invalid.course.picture_url, 'has-success': validated.course.picture_url}">
                        <label for="pictureUrl" class="col-sm-2 control-label">Picture url</label>

                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtCoursePictureUrl"
                                       ng-model="course.picture_url"
                                       ng-change="changePictureUrl()"
                                       ng-blur="validatePictureUrl()" />
                                    <span class="input-group-btn form-control-feedback">
                                        <button id="btnPictureUploader" class="btn btn-default  form-control-feedback" type="button">
                                            Upload
                                        </button>
                                    </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="frmCourseDescription">
                        <label for="desciption" class="col-sm-2 control-label">Description</label>

                        <div class="col-sm-10">
                            <textarea rows="3" cols="5" name="textarea"
                                      class="autosize form-control textarea-transition"
                                      style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 74px;"
                                      ng-model="course.description" ng-change="changeDescription()"></textarea>
                        </div>
                    </div>
                </form>

            </div>
            <div class="toolbox bottom">
                <div></div>
                <div align="right">
                    <button id="btnSave" type="submit" class="btn btn-default"
                            ng-class="{'disabled': !validated.course.all}"
                            data-loading-text="Saving..." data-complete-text="Completing..."
                            ng-click="save()">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div picture-uploader return-element-id="txtCoursePictureUrl" call-element-id="btnPictureUploader"></div>